<h1>Characters</h1>

<ul class="nav nav-tabs">
  
  <% @groups.each_with_index do |(group, group_data), i| %>
      <li class="<%= 'active' if i == 0 %>"><a data-toggle="tab" href="#<%= group.parameterize('_')  %>"><%= group %></a></li>
  <% end %>
  <% if AresMUSH::Idle.roster_enabled? %>
      <li ><a data-toggle="tab" href="#roster">Roster</a></li>
  <% end %>
</ul>

<div class="tab-content">
  
  <% @groups.each_with_index do |(group, group_data), i| %>

  <div id="<%= group.parameterize('_') %>" class="tab-pane fade in <%= 'active' if i == 0 %>">
    
    <% if @npcs[group] && @npcs[group].any? %>
        <%= erb :"chars/group_list", :locals => { chars: @npcs[group], title: "NPCs" } %>
    <% end %>
    
    <% subgroup_chars(group_data).each do |subgroup, chars| %>
  
          <%= erb :"chars/group_list", :locals => { chars: chars, title: subgroup } %>
        
     <% end %>
             
  </div>
  <% end %>
  
  <% if AresMUSH::Idle.roster_enabled? %>
  <div id="roster" class="tab-pane fade in">
      <h2>Roster</h2>

      See <a href="/roster">Roster</a> for ready-made characters on the roster.
  </div>
  <% end %>

</div>
