<script type="text/javascript" src="http://www.youtube.com/player_api"></script>
<script type="text/javascript" src="/scripts/music_player.js"></script>

<h1><%= @char.name %></h1>


<div class="row profile-wrap">
    <%= erb :"chars/demographics" %>
</div>

<% if @idle_message %>
<div class="row">
    <div class="col col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body idle-message">
                <%= @idle_message %>
            </div>
        </div>
    </div>
</div>
<% end %>

<div class="profile-tab">
        <%= erb :"chars/profile" %></p>
</div>


<div class="profile-tab">

        <%= erb :"chars/system_info" %></p>
</div>


<div class="profile-tab">

 <%= erb :"chars/relationships", :locals => { categories: AresMUSH::Profile.relationships_by_category(@char) } %></p>
 
 </div>
 
 <div class="profile-tab">
 
    <%= erb :"chars/logs" %></p>

 </div>  
    
    
    <div class="profile-tab">
 
       <%= erb :"chars/gallery" %></p>

    </div>


<hr/>

<b>Tags:</b>  
<% @char.profile_tags.each do |tag| %>
  <a href="/wiki/tag/<%= tag %>"><%= tag %></a>
<% end %>
    

<div class="row">
    <div class="col col-xs-12">
        <div class="pull-right">
  <% if can_manage_char?(@char) %>

      <a href="<%= char_page_url(@char) %>/edit" class="btn btn-primary">Edit</a>

  <% end %>
      <a href="<%= char_page_url(@char) %>/source" class="btn btn-default">View Source</a>
  </div>
  </div>
</div>