<h1><%= @char.name %></h1>


<div class="row profile-wrap">
    <%= erb :"chars/demographics" %>
</div>


<div class="profile-tab">
        <%= erb :"chars/profile" %></p>
</div>


<div class="profile-tab">

        <%= erb :"chars/system_info" %></p>
</div>


<div class="profile-tab">

 <%= erb :"chars/relationships", :locals => { categories: AresMUSH::Profile.relationships_by_category(@char) } %></p>
 
 </div>
 
 <div class="profile-tab">
 
    <%= erb :"chars/logs" %></p>

 </div>  
    
    
    <div class="profile-tab">
 
       <%= erb :"chars/gallery" %></p>

    </div>
    

  <% if can_manage_char?(@char) %>

  <div class="pull-right">
      <a href="/char/<%= @char.id %>/edit" class="btn btn-primary">Edit</a>
  </div>

  <% end %>