<script type="text/javascript" src="http://www.youtube.com/player_api"></script>
<script type="text/javascript" src="/scripts/music_player.js"></script>

<h1><%= @char.name %></h1>


<div class="row profile-wrap">
    <%= erb :"chars/demographics" %>
</div>


<div class="profile-tab">
        <%= erb :"chars/profile" %></p>
</div>


<div class="profile-tab">

        <%= erb :"chars/system_info" %></p>
</div>


<div class="profile-tab">

 <%= erb :"chars/relationships", :locals => { categories: AresMUSH::Profile.relationships_by_category(@char) } %></p>
 
 </div>
 
 <div class="profile-tab">
 
    <%= erb :"chars/logs" %></p>

 </div>  
    
    
    <div class="profile-tab">
 
       <%= erb :"chars/gallery" %></p>

    </div>
    

<div class="row">
    <div class="col col-xs-12">
        <div class="pull-right">
  <% if can_manage_char?(@char) %>

      <a href="/char/<%= @char.id %>/edit" class="btn btn-primary">Edit</a>

  <% end %>
      <a href="/char/<%= @char.id %>/source" class="btn btn-default">View Source</a>
  </div>
  </div>
</div>