<h3>Profile Sections</h3>
<div id="profile-container">

<% @char.profile.each_with_index do |(section, data), i| %>

<div class="panel panel-info">
    <div class="panel-body">
        <div class="pull-right"><a id="delete-profile"><i class="fa fa-trash" aria-hidden="true"></i></a></div>
        <p>
            <label for="profiletitle-<%=i%>" class="col-xs-2 col-form-label">Title:</label> 
            <input type="text" name="profiletitle-<%=i%>" size="50" value="<%= section %>"/>
        </p>
        <p>
            <textarea name="profile-<%=i%>" rows="5"><%= format_input_for_html(data) %></textarea>
        </p>
    </div>
</div>
<% end %>

<div class="panel panel-info" id="new-profile-field" style="display:none">
    <div class="panel-body">
        <div class="pull-right"><a id="delete-profile"><i class="fa fa-trash" aria-hidden="true"></i></a></div>
        <p>
            <label for="profiletitle-new" class="col-xs-2 col-form-label">Title:</label>         

            <input type="text" name="profiletitle-new" size="50" value=""/>

        </p>
        <p>
            <textarea name="profile-new" rows="5"></textarea>
        </p>
    </div>
</div>

</div>

<p><a class="btn-info btn" id="add-profile">Add New Section</a></p>
