<h3>RP Hooks</h3>

<div id="hook-container">
    
<% @char.fs3_hooks.each_with_index do |hook, i| %>

<div class="panel panel-info">
    <div class="panel-body">
        <div class="pull-right"><a id="delete-hook"><i class="fa fa-trash" aria-hidden="true"></i></a></div>
        
        <div class="row">
            <label for="hookname-<%=i%>" class="col-xs-2 col-form-label">Name:</label> 
            <input type="text" name="hookname-<%=i%>" class="col-xs-2" size="50" value="<%= hook.name %>"/>
        
            <label for="hookdesc-<%=i%>" class="col-xs-2 col-form-label">Description:</label>     
            <input type="text" name="hookdesc-<%=i%>"  class="col-xs-2" size="50" value="<%= format_input_for_html(hook.description) %>"/>
        </div>
    </div>
</div>


<% end %>

<div class="panel panel-info" style="display:none" id="new-hook-field">
    <div class="panel-body">    
        <div class="pull-right"><a id="delete-hook"><i class="fa fa-trash" aria-hidden="true"></i></a></div>
        <div class="row">
            <label for="hookname-new" class="col-xs-2 col-form-label">Name:</label>         
            <input type="text" name="hookname-new" class="col-xs-2" size="50" value=""/>

            <label for="hookdesc-new" class="col-xs-2 col-form-label">Description:</label>     
            <input type="text" name="hookdesc-new" class="col-xs-2" size="50" value=""/>
        </div>       
    </div>
</div> 

</div>

<p><a class="btn-info btn" id="add-hook">Add New Hook</a></p>