<h3>Demographics</h3>

    
<p>
    <label for="demo-fullname" class="col-xs-2 col-form-label">Full Name:</label>
    
    <input type="text" name="demo-fullname" size="100" value="<%= @char.demographic('fullname') %>"/>
</p>

<p>
    <label for="demo-callsign" class="col-xs-2 col-form-label">Callsign:</label>
    
    <input type="text" name="demo-callsign" size="100" value="<%= @char.demographic('callsign') %>"/>
</p>
    
<p>
    <label for="demo-hair" class="col-xs-2 col-form-label">Hair:</label>
    
    <input type="text" name="demo-hair" size="100" value="<%= @char.demographic('hair') %>"/>
</p>
    
<p>
    <label for="demo-eyes" class="col-xs-2 col-form-label">Eyes:</label>
    
    <input type="text" name="demo-eyes" size="100" value="<%= @char.demographic('eyes') %>"/>
</p>

<p>
    <label for="profileimage" class="col-xs-2 col-form-label">Profile Image:</label>
     
     <!-- 
     <select id="profileimage-select" name="profileimage-select">
         <option value=""></option>
         <% uploaded_file_names.each do |f| %>
         <option value="<%= f %>" <%= "selected" if @char.profile_image == f %>><%= f %></option>
         <% end %>
     </select>
     -->
     
    <input type="text" name="profileimage" id="profileimage" size="100" value="<%= @char.profile_image %>"/>
</p>


<p>
    <label for="profileicon" class="col-xs-2 col-form-label">Icon Image:</label>
     
    <input type="text" name="profileicon" id="profileicon" size="100" value="<%= @char.profile_icon %>"/>
</p>


<div class="hint">Upload a profile or icon image in the Files section below and then enter its filename. (e.g. Yourname.png - no [[image]] code required.)</div>
