<script src="/scripts/edit_char.js"></script>

<h1>Edit <%= @char.name %></h1>

<form method="POST" action="/char/<%= @char.id %>/edit">
    
    
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#demographics">Demographics</a></li>
        <li><a data-toggle="tab" href="#profile">Profile</a></li>
        <li><a data-toggle="tab" href="#relationships">Relationships</a></li>
        <li><a data-toggle="tab" href="#gallery">Gallery</a></li>
    </ul>
    
    

    <div class="tab-content">

      <div id="demographics" class="tab-pane fade in active">
          <%= erb :"chars/edit_demographics" %>
      </div>
      
      <div id="profile" class="tab-pane fade in">
          <%= erb :"chars/edit_profile" %>
      </div>
    
      <div id="relationships" class="tab-pane fade in">
          
          <%= erb :"chars/edit_relationships" %>
          
      </div>
      
      
      <div id="gallery" class="tab-pane fade in">
          <%= erb :"chars/edit_gallery" %>
      </div>
  </div>
    
    
    
    
    
    
    <p> <a href="/char/<%= @char.id %>" class="btn btn-default">Cancel</a>  <input class="btn btn-primary" type="submit" value="Save"> </p>
    
</form>

