<h1>Characters</h1>



<ul class="nav nav-tabs">
  
  <% @factions.each_with_index do |(faction, faction_chars), i| %>
      <li class="<%= 'active' if i == 0 %>"><a data-toggle="tab" href="#<%= faction.parameterize('_')  %>"><%= faction %></a></li>
  <% end %>
</ul>

<div class="tab-content">
  
  <% @factions.each_with_index do |(faction, faction_chars), i| %>

  <div id="<%= faction.parameterize('_') %>" class="tab-pane fade in <%= 'active' if i == 0 %>">
    
    <% if @npcs[faction] && @npcs[faction].any? %>
        <%= erb :"chars/faction_group_list", :locals => { chars: @npcs[faction], position: "NPCs" } %>
    <% end %>
    
    <% faction_chars.group_by { |c| c.group('Position') || "" }.sort.each do |position, chars| %>
  
          <%= erb :"chars/faction_group_list", :locals => { chars: faction_chars, position: position } %>
        
     <% end %>
             
  </div>
  <% end %>
</div>
