<div class="row musicplayer-wrap">
    <div class="col col-xs-1">

        <div class="musicplayer-frame">

    
            <iframe width="250" height="250" src="https://www.youtube.com/embed/<%= youtubecode %>?enablejsapi=1&amp;fs=0&amp;rel=0&amp;showinfo=0&amp;modestbranding=1&amp;iv_load_policy=3&amp;controls=0&amp;autoplay=0&amp;loop=0" onload="musicplayer_<%= id %>=new YT.Player(this)"></iframe>

        </div>
        <button type="button" class="musicplayer-button" id="<%= id %>-playbutton" onclick="musicplayer_<%= id %>.playVideo();toggleButtonPlayer_YbTEp(this)">
            <img src="/images/musicplayer-inactive.png">
        </button>

        <button type="button" class="musicplayer-button" id="<%= id %>-pausebutton" onclick="musicplayer_<%= id %>.pauseVideo();toggleButtonPlayer_YbTEp(this)" style="display:none">
            <img src="/images/musicplayer-active.png">
        </button>

        <div class="musicplayer-preload">
            <img src="/images/musicplayer-inactive.png">
            <img src="/images/musicplayer-active.png">
        </div>

    </div>

        <div class="col col-xs-9 musicplayer-description">
            <%= description %>  
        </div>

    
</div>