       <div>

          <h3>{{title}}</h3>
          
         
          {{#each chars as |char|}}
    
          <div class="profile-gallery">
              <div class="char-icon-container">
    
              <div class="log-icon-container">
                  <a href="/char/{{char.name}}">
                     {{#if char.icon}}
                      <img class="log-icon" src="/game/uploads/{{char.icon}}" />
                     {{else}}
                     <img class="log-icon" src="/theme_images/noicon.png" />
                     {{/if}}
                  </a>
              </div>

              <div class="log-icon-title-container">
                  <div class="log-icon-title">
                   {{char.name}}
                  </div>
              </div>

              </div>
              
          </div>
          
          {{/each}}
      
       </div>

     <div class="clearfix"> 
     </div>
