<table class="table table-striped">


<thead>
    <tr>
        <th>Scene</th>
        <th>Participants</th>
    </tr>
</thead>

<tbody>

{{#each scenes}}
       <tr>
        <td>
        <a href="/scene/{{this.id}}">{{this.title}}</a>
        
      
        
        <p>{{this.summary}}</p>
        </td>
        <td>
            {{#each this.participant_names}}
            <a href="/char/{{this}}">{{this}}</a>
            {{/each}}
            
            
        </td>
    </tr>
{{/each}}

</tbody>
</table>