<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item"><a data-bs-toggle="tab" href="#scenecontrol" class="nav-link active">+</a></li>
{{#each types as |sceneType|}}
  <li class="nav-item"><a data-bs-toggle="tab" href="#{{sceneType}}" class="nav-link">{{sceneType}}</a></li>
{{/each}}
</ul>

<div class="tab-content">
  <div id="scenecontrol" class="tab-pane fade in active">
    <p>Select a scene type tab to browse scenes.</p>
  </div>
  
{{#each scenes_by_type as |sbt|}}
  <div id="{{sbt.name}}" class="tab-pane fade show">
        {{#each sbt.scenes as |sceneData|}}
        <p><b><a href="{{sceneData.page}}">{{sceneData.title}}</a></b>
          <br/>{{sceneData.summary}}
          <br/>{{sceneData.participants}}</p>
          <hr/>
      {{/each}}
  </div>
{{/each}}
</div>
