<script type="text/javascript" src="https://www.youtube.com/player_api"></script>
<script type="text/javascript" src="game/scripts/music_player.js"></script>

<h1>{{char.name}}</h1>

<div class="row">

    <div class="col col-xs-12 col-md-4">
    {{#if char.profile_image.name}}
        <img src="game/uploads/{{char.profile_image.path}}" alt="{{char.name}}'s icon"  class="profile-image">
    {{else}}
        <img src="game/uploads/theme_images/noicon.png" class="profile-image" alt="{{char.name}}'s icon" >
    {{/if}}
    </div>

    <div class="col col-xs-12 col-md-8">        

        <div class="profile-box">
        <div class="profile-title">
                    {{char.profile_title}}
        </div>
        
        {{#each char.demographics as |demo|}}
        <div class="row">
            <div class="col-sm-3">
                    <b>{{demo.name}}</b> 
            </div>
            <div class="col-sm-9">
                    {{demo.value}}
            </div>
        </div>
        {{/each}}
                                
        
        <div class="profile-divider">
        </div>
        
        
        {{#each char.groups as |group|}}
        <div class="row">
            <div class="col-sm-3">
                    <b>{{group.name}}</b> 
            </div>
            <div class="col-sm-9">
                    {{group.value}}
            </div>
        </div>
        {{/each}}


        {{#if char.handle}}
        
        <div class="row">
            <div class="col-sm-3">
                    <b>Player</b> 
            </div>
            <div class="col-sm-9">
                    <a href="http://arescentral.aresmush.com/handle/{{char.handle}}">{{char.handle}}</a>
            </div>
        </div>
        
        {{/if}}
        
      </div>
        
    </div>
</div>

<div class="profile-tab">
  <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item"><a data-bs-toggle="tab" href="#supplementalindex" class="nav-link active">+</a></li>
      {{#each char.profile as |profile| }}
          <li class="nav-item"><a data-bs-toggle="tab" href="#{{profile.key}}" class="nav-link">{{profile.name}}</a></li>
      {{/each}}
  </ul>

  <div class="tab-content">

    <div id="supplementalindex" class="tab-pane fade show active">
        <div class="tab-cover">Supplemental Information</div>
    </div>
  
    {{#each char.profile as |profile|}}
  
    <div id="{{profile.key}}" class="tab-pane fade ansi">
  
        {{{profile.text}}}
      
    </div>
  
    {{/each}}
  
 </div>
</div>

  
<div class="profile-tab">

  <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item"><a data-bs-toggle="tab" href="#relationshipindex" class="nav-link active">+</a></li>
      {{#each char.relationships as |cat|}}
      <li class="nav-item"><a data-bs-toggle="tab" href="#{{cat.key}}" class="nav-link">{{cat.name}}</a></li>
      {{/each}}
  </ul>

  <div class="tab-content">

    <div id="relationshipindex" class="tab-pane fade show active">
        <div class="tab-cover">Relationships</div>
    </div>
  
    {{#each char.relationships as |cat|}}

    <div id="{{cat.key}}" class="tab-pane fade">
    
      {{#each cat.relationships as |ship|}}
        
          <div class="row relationship-row">
              <div class="col col-xs-12 col-sm-3">
                
                  <div class="relationship-icon-container">
                  {{#if ship.is_npc}}
                      {{#if ship.icon}}
                      <img class="relationship-icon" src="game/uploads/{{ship.icon}}" alt="{{ship.name}}'s icon" >
                      {{else}}
                      <img class="relationship-icon" src="game/uploads/theme_images/noicon.png" alt="{{ship.name}}'s icon"  >
                      {{/if}}
                  {{else}}
                        {{#if ship.icon}}
                        <img class="relationship-icon" src="game/uploads/{{ship.icon}}" alt="{{ship.name}}'s icon" >
                        {{else}}
                        <img class="relationship-icon" src="game/uploads/theme_images/noicon.png" alt="{{ship.name}}'s icon"  >
                        {{/if}}
                  {{/if}}
                  </div>
                
                
              </div>
            
              <div class="col col-xs-12 col-sm-8 ansi">
                  {{#if ship.is_npc}}
                  <b>{{ship.name}}</b> (NPC)
                  {{else}}
                  <b>{{ship.name}}</b>
                  {{/if}}
                  {{{ship.text}}}
              </div>
          </div>
        
       {{/each}}
             
    </div>
    {{/each}}
  </div>
</div>


<div class="profile-tab">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item"><a data-bs-toggle="tab" href="#systeminfo" class="nav-link active">+</a></li>

    <li><a data-bs-toggle="tab" href="#systemhooks" class="nav-link">RP Hooks</a></li>

    {{#if char.background}}
        <li class="nav-item"><a data-bs-toggle="tab" href="#systembg" class="nav-link">Background</a></li> 
    {{/if}}
  
    {{#if char.description}}
    <li class="nav-item"><a data-bs-toggle="tab" href="#systemdesc" class="nav-link">Description</a></li>
    {{/if}}
  
  </ul>


  <div class="tab-content">
    <div id="systeminfo" class="tab-pane fade show active">
        <div class="tab-cover">System Information</div>
    </div>
  
    <div id="systemhooks" class="tab-pane fade">
        {{{char.rp_hooks}}}
    </div>
  
    {{#if char.background}}
    <div id="systembg" class="tab-pane fade">
      {{{char.background}}}
     </div>
    {{/if}} 
  
    {{#if char.description}}
    <div id="systemdesc" class="tab-pane fade">
         {{{char.description}}}
       
         {{#if char.details}}
         {{#each char.details as |detail|}}
         <b>{{detail.name}}</b>: {{{detail.desc}}}
         {{/each}}
         {{/if}}
    </div>
    {{/if}}
  </div>

</div>

<div class="profile-tab">
  {{{scenes}}}
</div>


<div class="profile-tab">

<div class="panel panel-default">

{{#if char.profile_gallery}}
    {{#each char.profile_gallery as |gallery|}}
        <a href="game/uploads/{{gallery.path}}"><img src="game/uploads/{{gallery.path}}" class="profile-gallery" alt="{{gallery.name}}" >
        </a>
    {{/each}}
{{/if}}
</div>
</div>
