<h1>Setup Combat <%= @combat.id %></h1>

  <p><a href="/combat/<%= @combat.id %> "/manage ><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to Combat</a></p>

<form method="POST" action="/combat/<%= @combat.id %>/update">

<table class="table">
<tbody>
<tr>
    <th>Name</th>
    <th>Team</th>
    <th>Weapon</th>
    <th>Armor</th>
    <th>Stance</th>
    <th>NPC Skill</th>
</tr>



<% @combat.active_combatants.sort_by { |c| c.name }.each do |c| %>
    
    <tr>
        <td>
            <%= c.name %>
        </td>
        
        <td>
            <select name="<%= c.id %>-team">
              <% 9.times.each do |n| %>
              <option value="<%= n+1 %>" 
                  <% if c.team == n+1 %> selected <% end %> >
                  <%= n+1 %></option>
              <% end %>
            </select>
        </td>
        
        <td>
            <select name="<%= c.id %>-weapon">
              <% AresMUSH::FS3Combat.weapons.keys.each do |w| %>
              <option value="<%= w %>" 
                  <% if c.weapon_name == w %> selected <% end %> >
                  <%= w %></option>
              <% end %>
            </select>
            
            
            
            <% AresMUSH::FS3Combat.weapon_specials.keys.each do |spec| %>
              <br/>
              <input type="checkbox" name="<%= c.id %>-weaponspec[]" value="<%= spec %>" 
              <% if c.weapon_specials.include?(spec) %> checked <% end %>> <%= spec %> 
              </input>
            <% end %>
            
        </td>
        
        <td>
            <select name="<%= c.id %>-armor">
              <% AresMUSH::FS3Combat.armors.keys.each do |a| %>
              <option value="<%= a %>" 
                  <% if c.armor == a %> selected <% end %> >
                  <%= a %></option>
              <% end %>
            </select>
        </td>
        
        <td>
            <select name="<%= c.id %>-stance">
              <% AresMUSH::FS3Combat.stances.keys.each do |s| %>
              <option value="<%= s %>" 
                  <% if c.stance == s %> selected <% end %> >
                  <%= s %></option>
              <% end %>
            </select>
        </td>
        
        <td>
         <% if c.is_npc? %>
           <select name="<%= c.id %>-npc">
                 <% AresMUSH::FS3Combat.npc_type_names.each do |n| %>
                 <option value="<%= n %>" 
                     <% if c.npc.level == n %> selected <% end %> >
                     <%= n %></option>
                 <% end %>
           </select>
         <% end %>
        </td>
    </tr>
    
    <% end %>
 
    
</tbody>
</table>

    <p><input type="submit" value="Save Changes"></p>

</form>

<hr/>

<h3>Add Combatant</h3>


<form method="POST" action="/combat/<%= @combat.id %>/addcombatant">
    
    <p><b>Name:</b> <input type="text" name="name"></input>
    <select name="type">
          <% AresMUSH::FS3Combat.combatant_types.keys.each do |t| %>
          <option value="<%= t %>"
              <% if t == AresMUSH::FS3Combat.default_combatant_type %> selected <% end %> >
              <%= t %></option>
          <% end %>
    </select>
    </p>

    <p><input type="submit" value="Save Changes"></p>
    
</form>
