          <b>Attributes</b>
          <ul class="char-ability-list">
          <% @char.fs3_attributes.to_a.sort_by { |a| a.name }.each do |a| %>
          <li>
              <%= a.name %>: <%= a.rating_name %>
          </li>
          <% end %>
          </ul>
          
          <b>Action Skills</b>
          <ul class="char-ability-list">
          <% @char.fs3_action_skills.to_a.sort_by { |a| a.name }.each do |a| %>
          <li>
              <%= a.name %>: <%= a.rating_name %>
          </li>
          <% end %>
          </ul>

          <b>Background Skills</b>
          <ul class="char-ability-list">
          <% @char.fs3_background_skills.to_a.sort_by { |a| a.name }.each do |a| %>
          <li>
              <%= a.name %>: <%= a.rating_name %>
          </li>
          <% end %>
          </ul>

          <b>Language Skills</b>
          <ul class="char-ability-list">
          <% @char.fs3_languages.to_a.sort_by { |a| a.name }.each do |a| %>
          <li>
              <%= a.name %>: <%= a.rating_name %>
          </li>
          <% end %>
          </ul>
          