<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#scenesindex">+</a></li>
    <% AresMUSH::Scenes.scene_types.each do |type| %>
    <li><a data-toggle="tab" href="#<%= type.parameterize('_') %>"><%= type %></a></li>
    <% end %>
</ul>


<div class="tab-content">

    <div id="scenesindex" class="tab-pane fade in active">
        <div class="tab-cover">Scenes</div>
    </div>
  
    <% AresMUSH::Scenes.scene_types.each do |type| %>
  
    <div id="<%= type.parameterize('_') %>" class="tab-pane fade ">
  
        <div class="row">
            <% char_scenes_by_type(@char, type).each do |s| %>
            <div class="col col-xs-6 char-scene-list"><span><a href="/scene/<%= s.id %>"><%= s.date_title %></a></span></div>
            <% end %>
        </div>
      
    </div>
  
    <% end %>
  
</div>