<h1><%= @char.name %> Page Source</h1>

<div class="panel panel-default">
    <div class="panel-heading">
        Other Versions
    </div>

<ol>
    <% @char.profile_versions.to_a.reverse.each do |version| %>
    <li><a href="/char/<%= @char.name %>/source/<%= version.id %>"><%= version.created_at %></a></li>
    <% end %>
</ol>

</div>

            
<div class="ansi"><%= format_output_for_html @version.text.gsub('\r\n', '<br/>') %></div>


<div class="row">
    <div class="col col-xs-12">
        <div class="pull-right">
      
      <a href="/char/<%= @char.name %>/compare/<%= @version.id %>" class="btn btn-default">Compare to Previous</a>

  </div>
  </div>
</div>


