<h1>FS3 Abilities</h1>

<div class="ansi">
    
<h2>Attributes</h2>

<%= format_markdown_for_html AresMUSH::FS3Skills.attr_blurb %>

<table class="table table-striped">

<thead>
    <th>Attribute</th>
    <th>Description</th>
</thead>

<tbody>
<% AresMUSH::FS3Skills.attrs.each do |a| %>
<tr>
    <td><%= a['name'] %></td> 
    <td><%= a['desc'] %></td>
</tr>
<% end %>
</tbody>
</table>

<h2>Action Skills</h2>

<%= format_markdown_for_html AresMUSH::FS3Skills.action_blurb %>

<table class="table table-striped">

<thead>
    <th>Skill</th>
    <th>Linked Attribute</th>
    <th>Description</th>
</thead>

<tbody>
<% AresMUSH::FS3Skills.action_skills.each do |a| %>
<tr>
    <td><%= a['name'] %></td> 
    <td><%= a['linked_attr'] %></td> 
    <td>
        <%= a['desc'] %>
        <% if a['specialties']%>
        <br/> <b>Specialty Required:</b> <%= a['specialties'].join(", ")%>
        <% end %>
    
    </td>
</tr>
<% end %>
</tbody>
</table>


<h2>Background Skills</h2>

<%= format_markdown_for_html AresMUSH::FS3Skills.bg_blurb %>

<table class="table table-striped">

<thead>
    <th>Skill</th>
    <th>Description</th>
</thead>

<tbody>
<% AresMUSH::FS3Skills.background_skills.each do |name, desc| %>
<tr>
    <td><%= name  %></td> 
    <td>
        <%= desc %>        
    </td>
</tr>
<% end %>
</tbody>
</table>


<h2>Languages</h2>

<%= format_markdown_for_html AresMUSH::FS3Skills.language_blurb %>

<table class="table table-striped">

<thead>
    <th>Skill</th>
    <th>Description</th>
</thead>

<tbody>
<% AresMUSH::FS3Skills.languages.each do |lang| %>
<tr>
    <td><%= lang['name'] %></td> 
    <td><%= lang['desc'] %></td>
</tr>
<% end %>
</tbody>
</table>

</div>
