<script src="/scripts/edit_related_scenes.js"></script>

<h1>Edit Related Scenes</h1>

<h3>Current Related Scenes</h3>

<% @scene.related_scenes.each do |s| %>
<p><%= s.date_title %>  <a href="/scene/<%= @scene.id %>/related/delete/<%= s.id %>"><i class="fa fa-trash" aria-hidden="true"></i></a>
   
</p>
<% end %>

<hr/>

<h3>Add a Related Scene</h3>

<form method="POST" action="/scene/<%= @scene.id %>/related/add">

    <div>  
            <input type="text" id="searchBox" onkeyup="search()" placeholder="Search for scenes...">
    </div>
    
           
            <div class="relaedScenesList">
                <select name="scene" id="scenesList">
                <% @available_scenes.each do |s| %>
                <% if !@scene.related_scenes.include?(s) %>
                <option value="<%= s.id %>"><%= s.date_title %></option>
                <% end %>
                <% end %>
                </select>
         
            </div>
            
            
             <p>
                 <a href="/scene/<%= @scene.id %>" class="btn btn-default">Return to Scene</a> <input type="submit" value="Add" class="btn btn-primary">
             </p>
             
                        
</form>
    
    
    