<script src="/scripts/edit_scene_participants.js"></script>

<h1>Edit Participants</h1>

<h3>Current Participants</h3>
<% @scene.participants.each do |p| %>
<p><%= p.name %>  <a href="/scene/<%= @scene.id %>/participants/delete/<%= p.id %>"><i class="fa fa-trash" aria-hidden="true"></i></a>
   
</p>
<% end %>


<hr/>

<h3>Add a Participant</h3>
        
       

<form method="POST" action="/scene/<%= @scene.id %>/participants/add">
       
    <div>
            <input type="text" id="searchBox" onkeyup="search()" placeholder="Search for names...">
    </div>

        
        <div class="participantsList">
            <select name="character" id="participantsList">
                <% @available_chars.each do |c| %>
                <% if !@scene.participants.include?(c) %>
                <option value="<%= c.id %>"><%= c.name %></option>
                <% end %>
                <% end %>
            </select>
        </div>
            <div>
                <a href="/scene/<%= @scene.id %>" class="btn btn-default">Return to Scene</a> <input type="submit" value="Add"  class="btn btn-primary">
            </div>
    
</form>
    
    