
<div class="medal-area">
<div class="medal-row">
  <% @badge_images.each do |i| %>
    <img class="medal" src="/files/<%= i %>" alt="<%= i %>" title="<%= i.before('.').gsub('-', ' ').titleize %>"/>
  <% end %>
</div>

<div class="medal-row">
  <% @medal_images.each do |i| %>
    <img class="medal" src="/files/<%= i %>"  alt="<%= i %>" title="<%= i.before('.').gsub('-', ' ').titleize %>" />
  <% end %>
</div>

<div class="medal-row">
  <% @campaign_images.each do |i| %>
    <img class="medal" src="/files/<%= i %>"  alt="<%= i %>" title="<%= i.before('.').gsub('-', ' ').titleize %>" />
  <% end %>
</div>
</div>

<br/><br/>

<% @medal_citations.each do |award| %>
   <b><%= award[:name] %></b>
   <% if award[:citations].count > 0 %>
   <ul>
   <% award[:citations].each do |citation| %>
    <li><%= citation %></li>
    <% end %>
    </ul>
    <% else %>
    <br/>
    <% end %>
<% end %>
