<h1>Edit Scene <%= @scene.id %></h1>

    <form method="POST" action="/scene/<%= @scene.id %>/edit">
        

    <p>
    <label for="title" class="col-xs-2 col-form-label">Title:</label>
    
    <input type="text" name="title" size="100" value="<%= @scene.title %>"/>
    </p>
    
    <p>
    <label for="location" class="col-xs-2 col-form-label">Location:</label>
    
    <input type="text" name="location" size="100" value="<%= @scene.location %>"/>
    </p>
    
    
    <p>
    <label for="icdate" class="col-xs-2 col-form-label">IC Date:</label>
    
    <input type="text" name="icdate" size="100" value="<%= @scene.icdate %>"/>
    </p>

    <p>
    <label for="scene_type" class="col-xs-2 col-form-label">Scene Type:</label>
    
            <select name="scene_type">
              <% AresMUSH::Scenes.scene_types. each do |type| %>
              <option value="<%= type %>" <% if @scene.scene_type == type %> selected <% end %> ><%= type %></option>
              <% end %>
            </select>
    </p>
    

    
    <p>
        <label for="tags" class="col-xs-2 col-form-label">Tags:</label>
        <input type="text" name="tags" size="100" value="<%= @scene.tags.join(" ") %>"/>
    </p>        
    <p>
    <label for="summary" class="col-xs-2 col-form-label">Summary:</label>
    <textarea name="summary" rows="5"><%= format_input_for_html(@scene.summary) %></textarea>
    </p>

    <div class="hint">Edit participants and related scenes back on the scene page.</div>
    <br/>
    
    <p>
    <textarea name="log" rows="25"><%= format_input_for_html(@scene.scene_log.log) %></textarea>
    </p>
    
        <p> <a href="/scene/<%= @scene.id %>" class="btn btn-default">Cancel</a>  <input class="btn btn-primary" type="submit" value="Save"> </p>
        
    </form>
    
