<h1>Scenes</h1>

<% if is_approved? %>

<div class="pull-right">
    <a href="/scenes/create" class="btn btn-primary">Create Scene</a>
</div>

<% end %>


<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#recent">Recent</a></li>
  
  <% @scene_types.each do |type| %>
      <li><a data-toggle="tab" href="#<%= type %>"><%= type %></a></li>
  <% end %>
</ul>

<div class="tab-content">
  <div id="recent" class="tab-pane fade in active">
    <h3>Recent</h3>
    <p><%= erb :"scenes/scene_list", :locals => { scenes: @scenes[0..15] } %></p>
  </div>
  <% @scene_types.each do |type| %>
  <div id="<%= type %>" class="tab-pane fade">
    <h3><%= type %></h3>
    <p><%= erb :"scenes/scene_list", :locals => {  scenes: scenes_of_type(type) } %></p>
  </div>
  <% end %>
</div>
