    <h1><%= @scene.title %>  </h1>
        
<div class="row log-wrap">
       
       <div class="log-box">
           
    <p><%= @scene.summary %></p>

    <p><b>Date:</b> <%= @scene.icdate %></p>

    <p><b>Location:</b> <%= @scene.location %></p>
        
        <div>
        <% if @scene.completed %>
        <span class="label label-success">Completed</span>
        <% else %>
        <span class="label label-warning">In Progress</span>
        <% end %>
        
        <%= erb :"scenes/scene_tag", :locals => { scene: @scene } %>
         </div>
    
    </div>
    
    <div class="log-participants-box">
    <% @scene.participants.each do |c| %>
    <a href="/char/<%= c.id %>">
        <% if c.icon %>
         <img class="log-icon" src="<%= c.icon %>" title="<%= c.name %>" />
        <% else %>
         <%= c.name %>
        <% end %>
        </a>
    <% end %>
    </div>
    
</div>

        
<% @scene.poses_in_order.each do |p| %>
    
    <% if p.is_system_pose? %>
        <div class="scene-system-pose">

             <div class="scene-pose-header">
                 <div class="pull-right">
                     <% if @scene.completed && p.can_edit?(@user) %>
                         <a href="/scene/pose/<%= p.id %>/edit"><i class="fa fa-edit" aria-hidden="true"></i></a> 
                          | <a href="/scene/pose/<%= p.id %>/moveup"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
                           | <a href="/scene/pose/<%= p.id %>/movedown"><i class="fa fa-arrow-down" aria-hidden="true"></i></a> 
                           | 
                            <a href="/scene/pose/<%= p.id %>/delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    <% end %>
                 </div>
            </div>
            <div class="ansi">
                <%= format_markdown_for_html p.pose %>
            </div>
        </div>
    
    <% else %>
    
        <div class="scene-pose">

            <div class="scene-pose-header">
                 <div class="pull-right">
                     <% if p.can_edit?(@user) %>
                         <a href="/scene/pose/<%= p.id %>/edit"><i class="fa fa-edit" aria-hidden="true"></i></a> 
                          | <a href="/scene/pose/<%= p.id %>/moveup"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
                           | <a href="/scene/pose/<%= p.id %>/movedown"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>                            
                           | 
                             <a href="/scene/pose/<%= p.id %>/delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    <% end %>
                 </div>
            </div>
    
            <div class="ansi">
                <% if p.is_setpose? %> <blockquote> <% end %>
                <%= format_markdown_for_html p.pose %>
                <% if p.is_setpose? %> </blockquote> <% end %>
            </div>
        </div>
    
    <% end %>
    
<% end %>
    

<% if can_access_scene?(@scene) && is_approved? %>

<div class="pull-right">
    <a href="/scene/<%= @scene.id %>/pose/add" class="btn btn-primary">Add Pose</a>
    <a href="/scene/<%= @scene.id %>/edit" class="btn btn-default">Edit Scene Info</a>
    <a href="/scene/<%= @scene.id %>/participants" class="btn btn-default">Edit Participants</a>
</div>

<% end %>