    <h1><%= @scene.title %>  </h1>
        
        <h3>
        <% if @scene.completed %>
        <span class="label label-success">Completed</span>
        <% else %>
        <span class="label label-warning">In Progress</span>
        <% end %>
    </h3>

    <hr/>

    <p><b>Summary:</b> <%= @scene.summary %></p>

    <p><b>Location:</b> <%= @scene.location %></p>
    
    <p><b>Participants:</b></p>
    
    <% @scene.participants.each do |c| %>
    <a href="/char/<%= c.id %>">
        <% if c.icon %>
         <img class="log-icon" src="<%= c.icon %>" title="<%= c.name %>" />
        <% else %>
         <%= c.name %>
        <% end %>
        </a>
    <% end %>
    
    
    <hr/>
        
<% @scene.scene_poses.each do |p| %>
    
    <% if p.is_system_pose? %>
        <div class="scene-system-pose">

                 <div class="pull-right">
                     <% if p.can_edit?(@user) %>
                         <a href="/scene/pose/<%= p.id %>/edit"><i class="fa fa-edit" aria-hidden="true"></i></a> | 
                         <a href="/scene/pose/<%= p.id %>/delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    <% end %>
                 </div>
                 
            <div class="ansi">
                <%= format_markdown_for_html p.pose %>x
            </div>
        </div>
    
    <% else %>
    
        <div class="scene-pose">

            <div class="scene-pose-header">
                <% if p.character.icon %>
                 <a href="/char/<%= p.character.id %>">
                   <img class="pose-profile-icon" src="<%= p.character.icon %>" />
                  </a>
                <% end %>
                
                <a href="/char/<%= p.character.id %>">
                    <%= p.character.name %> 
                 </a>   
                 
                 <div class="pull-right">
                     <% if p.can_edit?(@user) %>
                         <a href="/scene/pose/<%= p.id %>/edit"><i class="fa fa-edit" aria-hidden="true"></i></a> | 
                         <a href="/scene/pose/<%= p.id %>/delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    <% end %>
                 </div>
            </div>
    
            <div class="ansi">
                <% if p.is_setpose? %> <blockquote> <% end %>
                <%= format_markdown_for_html p.pose %>
                <% if p.is_setpose? %> </blockquote> <% end %>
            </div>
        </div>
    
    <% end %>
    
<% end %>
    
