    <h1><%= @scene.date_title %>  </h1>
        
<div class="row log-wrap">
       
    <div class="log-box">
       
        <p><%= @scene.summary %></p>

        <p><b>Date:</b> <%= @scene.icdate %></p>

        <p><b>Location:</b> <%= @scene.location %></p>


        <p><b>Related Scenes:</b> 
            <% if @scene.related_scenes.any? %>
              <% @scene.related_scenes.each_with_index do |s, i| %>
                  <a href="/scene/<%= s.id %>"><%= s.title %></a><%= ',' if show_related_scene_comma(i) %>
              <% end %>
            <% else %>
               None
            <% end %>
        
        <div>
            <%= erb :"scenes/scene_tag", :locals => { scene: @scene } %>
         </div>
    </div>
    
    <div class="log-participants-box">
        
    <% @scene.participants.to_a.sort_by { |c| c.name }.each do |c| %>
        <div class="profile-gallery">    
            <%= erb :"/char_icon", :locals => { char: c } %>    
        </div>
    <% end %>
    
    </div>
    
    <div class="clearfix"> </div>


</div>

<p><a href="/scenes"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to Scenes</a></p>


<div class="ansi scene-log">
    <%= format_markdown_for_html @scene.scene_log.log %>
</div>
    
    <br/>
<p>
    <b>Tags:</b>  
    <% @scene.tags.each do |tag| %>
      <a href="/wiki/tag/<%= tag %>"><%= tag %></a>
    <% end %>
   </p>
    
<p><a href="/scenes"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to Scenes</a></p>


<% if can_access_scene?(@scene) && is_approved? %>

<div class="row">
    <div class="col col-xs-12">
        <div class="pull-right">
        <% if is_admin? %>
        <a href="/scene/<%= @scene.id %>/delete" class="btn btn-warning">Delete Scene</a>
        <% end %>
        <a href="/scene/<%= @scene.id %>/edit" class="btn btn-primary">Edit Scene</a>
        <a href="/scene/<%= @scene.id %>/related" class="btn btn-default">Edit Related Scenes</a>
        <a href="/scene/<%= @scene.id %>/participants" class="btn btn-default">Edit Participants</a>
        </div>
    </div>
</div>
<% end %>