<table class="table table-striped">


<thead>
    <tr>
        <th>Scene</th>
        <th>Participants</th>
    </tr>
</thead>

<tbody>

<% scenes.each do |s| %>
    <tr>
        <td>
        <a href="/scene/<%= s.id %>"><%= s.icdate %> - <%= s.title %></a>
        
       <span class="label label-info 
        scene-<%= s.scene_type ? s.scene_type.downcase : "unknown" %>">
            <%= s.scene_type %></span>
       
        
        <p><%= s.summary %></p>
        </td>
        <td>
            <%= s.participant_names.join(", ")%>
        </td>
    </tr>
<% end %>

</tbody>
</table>