<blockquote>
    Wikidot doesn't allow automatic log creation, but you can copy paste the text below into the wikidot log template.  Be sure to fill in the few things that require manual entry (marked with **TODO**)
</blockquote>


<div class="ansi">
<pre class="wiki-log">
    
><%= @scene.summary || "TODO: Summary goes here." %>

[[div class="log-wrapper"]]

[[include LogInfoBox
|summary=<%= @scene.summary || "TODO: Summary goes here." %>
|location=<%= @scene.location || "TODO: Location" %>
|related=TODO: None 
]]

[[include LogPlayerTop]]

<% @scene.participants.each do |c| %>
[[include LogIcon name=<%= c.name %>]]
<% end %>
[[include LogPlayerBottom]]

[[/div]]
    
<% @scene.scene_poses.each do |p| %>

<% if p.is_system_pose? %>
[[span class="fs3combat"]]//<%= (format_output_for_html p.pose) %>//[[/span]]
<% else %>
<%= format_output_for_html p.pose %>
<% end %>
<% end %>
    
</pre>
</div>

<blockquote>
    Here's a list of participants to copy to the log tags list too.
</blockquote>

<pre class="wiki-log">
    <% @scene.participants.each do |c| %>
    <%= c.name -%>
    <% end %>
</pre>
    