<div class="panel panel-info">
    
    <div class="panel-body">
                    
            <h3>Abilities Review</h3>
            <pre class="ansi app-status"><%= @abilities_app %> </pre>

            <h3>Demographics Review</h3>
            <pre class="ansi app-status"><%= @demographics_app %></pre>

            <h3>Miscellaneous Review</h3>

            <pre class="ansi app-status">
<%= @bg_app %>
<%= @desc_app %>
<%= @ranks_app %>
            </pre>
            
                   
    </div>
</div>