<div class="panel panel-info <% if @params[:tab] != "groups" %> hidden <% end %>">
    
    <div class="panel-body">

        <% @groups.each do |k, v| %>
        <div class="form-group row">
            <label for="<%= k %>" class="col-xs-2 col-form-label"><%= k %>:</label> 
            <select name="<%= k.downcase %>">
                <% v['values'].each do |name, desc| %>
                <option value="<%= name %>" <% if @user.group(k) == name %> selected <% end %> ><%= name %> - <%= desc %></option>
                <% end %>
            </select>
            <p class="cg-tip"><%= v['desc']%></p>
        </div>
        <% end %>

        <% if AresMUSH::Ranks.is_enabled? %>
        <div class="form-group row">
            <label for="rank" class="col-xs-2 col-form-label">Rank:</label> 
            <select name="rank">
                <% @ranks.each do |k| %>
                <option value="<%= k %>" <% if @user.rank == k %> selected <% end %> ><%= k %></option>
                <% end %>
            </select>
            
            <p class="cg-tip">Available ranks vary by faction.  See the wiki for details.</p>
        </div>
        <% end %>

    </div>
</div>
