<% if @error %>
<div class="alert alert-danger">                
    <%= @error %>      
</div>
<% end %>

<h1><%= @filename %></h1>

<form method="POST" action="/config/update/<%= @plugin %>/<%= @filename %>">
<textarea name="config" rows="40" cols="100" style="font-family:courier"><%= @config %></textarea>

<p>
<a href="/config"><button type="button" class="btn btn-default">Cancel</button></a>
<button type="submit" class="btn btn-primary">Save</button>
</p>
</form>