<p>Here you can configure every aspect of your game's operation.  Many of the config files use the YAML format.  You can read all about it on the AresMUSH YAML tutorial.</p>

<h1>Game Files</h1>
<ul>
    <li><a href="/config/files/connect.txt">Connect Screen</a></li>
    <li><a href="/config/files/tos.txt">Terms of Service</a></li>
</ul>


<h1>Game Config</h1>

<ul>
    <% @game_config.each do |f| %>
    <li><a href="/config/game/<%= f %>"><%= f %></a></li>
    <% end %>
</ul>

<h1>Plugin Config</h1>
<ul>
    <% @plugin_config.each do |f, p| %>
    <li><a href="/config/<%= p %>/<%= f %>"><%= f %></a></li>
    <% end %>
</ul>