<h1>Game Info</h1>

<p>This screen lets you set up some basic information about your game.  This info will be used in the <a href="http://arescentral.aresmush.com/games">AresCentral games directory</a>.  If you don't want your game's details to appear, set 'public game' to 'no'.</p>

<form method="POST" action="/setup/update">

<div class="form-group row">
    
<label for="name" class="col-xs-2 col-form-label">Name:</label> 
<input type="text" name="name" size="100" value="<%= @config['name'] %>"/>

</div>

<div class="form-group row">

<label for="website" class="col-xs-2 col-form-label">Website:</label> 
<input type="text" name="website" size="100" value="<%= @config['website'] %>"/>

</div>


<div class="form-group row">

<label for="description" class="col-xs-2 col-form-label">Description:</label> 
<textarea name="description" rows="10" cols="100"><%= format_input_for_html(@config['description']) %></textarea>
</div>

<div class="form-group row">

<label for="public" class="col-xs-2 col-form-label">Public Game:</label> 
<select name="public">
  <option value="false">No</option>
  <option value="true" <% if @config['public_game'] %> selected <% end %> >Yes</option>
</select>
</div>

<div class="form-group row">

<label for="category" class="col-xs-2 col-form-label">Game Category:</label> 

<select name="category">
  <% [ 'Fantasy', 'Historical', 'Modern', 'Sci-Fi', 'Social', 'Supernatural', 'Other' ]. each do |cat| %>
  <option value="<%= cat %>" <% if @config['category'] == cat %> selected <% end %> ><%= cat %></option>
  <% end %>
</select>
</div>


<p>
<a href="/admin"><button type="button" class="btn btn-default">Cancel</button></a>
<button type="submit" class="btn btn-primary">Save</button>
</p>
</form>