<h1>FS3 Skills</h1>

<p>This screen lets you configure several common FS3 Skills settings.  More fine-tuned configuration is available on the <a href="/admin/config">Advanced Configuration</a> screen.</p>

<form method="POST" action="/admin/fs3_skills/update">


<div class="panel panel-primary">
    <div class="panel-heading">
        Attributes
    </div>
    
    <div class="panel-body">
        <div class="row">
        <label class="col-xs-2">Name</label>
        <label class="col-xs-2">Description</label>
        </div>
        <div class="row">
        <% @attrs.each_with_index do |att, i| %>
        <input name="attr-name-<%= i %>" type="text" size="20" class="col-xs-2 col-form-label" value="<%= att['name'] %>" />
        <input name="attr-desc-<%= i %>" type="text" size="50" class="col-xs-10 col-form-label" value="<%= att['desc'] %>" />
        
        <% end %>
        </div>
        
    </div>
</div>



<div class="panel panel-primary">
    <div class="panel-heading">
        Action Skills
    </div>
    
    <div class="panel-body">
        <div class="row">
        <label class="col-xs-2">Name</label>
        <label class="col-xs-2">Linked Attribute</label>
        <label class="col-xs-2">Specialties</label>
        <label class="col-xs-2">Description</label>
        </div>
        <div class="row">
        <% @action_skills.each_with_index do |skill, i| %>
        <input name="action-name-<%= i %>" type="text" size="20" class="col-xs-2 col-form-label" value="<%= skill['name'] %>" />
        <input name="action-linked-<%= i %>" type="text" size="20" class="col-xs-2 col-form-label" value="<%= skill['linked_attr'] %>" />
        <input name="action-spec-<%= i %>" type="text" size="20" class="col-xs-2 col-form-label" value="<%= skill['specialties'] ? skill['specialties'].join(',') : '' %>" />
        <input name="action-desc-<%= i %>" type="text" size="50" class="col-xs-6 col-form-label" value="<%= skill['desc'] %>" />
        
        <% end %>
        </div>
        
        <div class="hint">List specialties separated by commas.  Any row with a blank skill name will be skipped.</div>
        
    </div>
</div>


<div class="panel panel-primary">
    <div class="panel-heading">
        Languages
    </div>
    
    <div class="panel-body">
        <div class="row">
        <label class="col-xs-2">Name</label>
        <label class="col-xs-2">Description</label>
        </div>
        <div class="row">
        <% @langs.each_with_index do |lang, i| %>
        <input name="lang-name-<%= i %>" type="text" size="20" class="col-xs-2 col-form-label" value="<%= lang['name'] %>" />
        <input name="lang-desc-<%= i %>" type="text" size="50" class="col-xs-10 col-form-label" value="<%= lang['desc'] %>" />
        
        <% end %>
        </div>
        
    </div>
</div>



<p>
<a href="/admin"><button type="button" class="btn btn-default">Cancel</button></a>
<button type="submit" class="btn btn-primary">Save</button>
</p>
</form>