<h1>#<%= @job.id %> - <%= @job.title %></h1>
<p><a href="/jobs"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to Jobs</a></p>

     <p><%= erb :"/avatar", :locals => { char: @job.author } %></p>

<p><i><%= @job.created_date_str(@user) %></i></p>

<p><label class="job-status-<%= @job.status %>"><%= @job.status %></label></p>

<hr/>

<div class="ansi">
    <%= format_output_for_html @job.description %>
</div>

<hr/>

<% AresMUSH::Jobs.visible_replies(@user, @job).each do |r| %>
 <div>
     
     <p><%= erb :"/avatar", :locals => { char: r.author } %></p>
     
     <p><i> <%= r.created_date_str(@user) %> </i></p>
     
     
     <div class="ansi">
         <% if r.admin_only %>
         <div class="label label-danger">To Admins Only</div>
         <% end %>
         <%= format_output_for_html r.message %>
     </div>
     
     <hr/>
  </div>
<% end %>

<div class="inline-response">
<h3>Add Reply</h3>

    <form method="POST" action="/job/<%= @job.id %>/reply">
        <select name="adminonly">
          <option value="true">Comment to Admin Only</option>
          <option value="false">Respond to Submitter</option>
        </select>
        
        <textarea name="message"></textarea>
        <p><input type="submit"></p>
        
    </form>
</div>

        <a href="/job/<%= @job.id %>/close" class="btn btn-primary">Close Job</a></p>

