<h1>Jobs</h1>

<table class="table table-striped">    
<tbody>
    <tr>
        <th>Title</th> 
        <th>Category</th>  
        <th>Status</th>
        <th>Submitter</th>
        <th>Handled By</th>
    </tr>
<% @jobs.each do |job| %>
    <tr><td>
        <% if job.is_unread?(@user) %>
            <i class="fa fa-flag" aria-hidden="true"></i>
        <% end %>
        
        <a href="/job/<%= job.id %>">#<%= job.id %> - <%= job.title %></a>
    </td>
    <td>
        <%= job.category %>
    </td>
    <td>
        <%= job.status %>
    </td>
    <td>
        <%= job.author ? job.author.name : "---" %>
    </td>
    <td>
        <%= job.assigned_to ? job.assigned_to.name : "" %>
    </td>


     </tr>
<% end %>
</tbody>
</table>