<div class="panel panel-info">
    
    <div class="panel-heading">
        Languages
    </div>
    
    <div class="panel-body">
        <p class="cg-tip">Languages represent your ability to speak and read other languages.  Languages have a descriptive rating. See <a href="http://aresmush.com/fs3/fs3-3/chargen/#languages">FS3 Languages</a> for details.</p>
        <p class="cg-tip">To remove a language, set its rating to Everyman.</p>

        <% @fs3_languages.each_with_index do |name, i| %>
        <div class="form-group row">
            <label for="lang-<%= i %>" class="col-xs-2 col-form-label"><%= name %>:</label> 
            <select name="lang-<%= i %>">
                <% @fs3_lang_skill_ratings.each do |num, desc| %>
                <option value="<%= num %>" 
                    <% if AresMUSH::FS3Skills.ability_rating(@user, name) == num %> selected <% end %> >
                    <%= desc %>
                </option>
                <% end %>
            </select>
        </div>
        <% end %>
    </div>
</div>