<div class="panel panel-info <% if @params[:tab] != "abilities" %> hidden <% end %>">
    
    <div class="panel-body">
    
        <div class="alert alert-danger">Reset will erase all of your current skills and attributes and set starting levels based on your selected groups (position/faction/etc.).  Your other demographic and group information will be saved.
            <p><button type="submit" name="reset" class="btn btn-danger">Reset Abilities</button></p>
        </div>
      
        <%= erb :"/chargen/chargen_fs3_attrs" %>

        <%= erb :"/chargen/chargen_fs3_action" %>

        <%= erb :"/chargen/chargen_fs3_spec" %>            

        <%= erb :"/chargen/chargen_fs3_bg" %>


        <%= erb :"/chargen/chargen_fs3_langs" %>
    </div>
</div>