<div class="panel panel-info">
    
    <div class="panel-heading">
        Background Skills
    </div>
    
    <div class="panel-body">
        <p class="cg-tip">Background Skills represent arts, sports, hobbies, professions and any other skills not covered by Action Skills.  Background Skills are free-form, so there is no specific list. You can pick anything from Singing to Underwater Basketweaving. See <a href="http://aresmush.com/fs3/fs3-3/chargen/#background-skills">FS3 Background Skills</a> for details.</p>
        <p class="cg-tip">Replace 'skill slot #' with the name of your skill.  To remove a background skill, set its rating to Everyman.</p>

        <% @fs3_bg_skills.each_with_index do |(name, rating), i| %>
        <div class="form-group row">

            <input name="bg-name-<%= i %>" type="text" size="20" class="col-xs-2 col-form-label" value="<%= name %>" />
            <select name="bg-rating-<%= i %>">
                <% @fs3_bg_skill_ratings.each do |num, desc| %>
                <option value="<%= num %>" 
                    <% if AresMUSH::FS3Skills.ability_rating(@user, name) == num %> selected <% end %> >
                    <%= desc %>
                </option>
                <% end %>
            </select>
        </div>
        <% end %>
        
    </div>
</div>