<h1>Kills</h1>

<p>Counting aerial victories (or "kills") has been a pilot tradition since the invention of aerial combat. Five victories makes one an "ace". Multiples of five are considered "double ace", "triple ace", etc.</p>

<p>In order for a pilot to claim a victory, it must be a clean kill of an enemy fighter craft corroborated by either a wingman or a review of gun camera footage.</p>

<blockquote>Getting a confirmed kill is more luck than skill. It comes down to which missions you draw, whether anyone else attacks your same target, and how much damage you roll (which is largely random). It's fine to make a big deal about it ICly, because that's what pilots do, but don't take it too seriously OOCly. You can be an awesome pilot with a low kill count.</blockquote>

<h2>OOC Rules</h2>

<p><b>Staff tallies all kills. If you think one has been mis-counted, kindly submit a request in-game.</b></p>

<ul>
<li>A kill is tallied if you are the sole person (PC or NPC) doing damage to an opponent in the round in which they were knocked out.  Damage from prior rounds is irrelevant.</li>
<li>There are no partial kills.  If multiple people damage the target in the final round, the kill is not counted.</li>
<li>Kills from PRPs will be counted at staff's discretion (as long as it's a good faith PRP it'll be fine).</li>
<li>A Raptor pilot and ECO both get credit for a kill from their ship, regardless of who pulled the trigger.</li>
<li>Only "on-camera" kills count unless otherwise specified by staff.</li>
<li>Only Cylon fighter craft count as kills. Pirates, anti-aircraft batteries, transports, tanks, etc. do not count.</li>
</ul>

<h2>Scoreboard</h2>

<table class="table table-striped">
<thead>
<tr>
<th>Rank</th>
<th>Pilot</th>
<th>Kills</th>
</tr>
</thead>
<% @scoreboard.each_with_index do |(char, victories), i| %>
<tr>
<td>
<%= i + 1 %>
</td>
<td>
<%= char.military_name %>
</td>
<td>
<%= victories.count %>
</td>
</tr>
<% end %>
</table>


<h2>Scenes</h2>

<% @scenes.each do |scene, victories| %>

<h3><a href="/scene/<%= scene.id %>"><%= scene.date_title %></a></h3>

<ul>
<% victories.each do |v| %>
<li><%= v.character.name %> - <%= v.victory %></li>
<% end %>
</ul>

<% end %>