    <h1><%= @plot.title %>  </h1>
        
<div class="ansi">

        <p><%= format_markdown_for_html @plot.summary %></p>
</div>



    <h2>Scenes</h2>
    
    <p><%= erb :"scenes/scene_list", :locals => { scenes: @plot.sorted_scenes } %></p>
    
    
<div class="ansi">
    
        <p><%= format_markdown_for_html @plot.description %></p>

</div>


<p><a href="/plots"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to Plots</a></p>



<% if is_approved? %>

<div class="row">
    <div class="col col-xs-12">
        <div class="pull-right">
        <% if is_admin? %>
        <a href="/plot/<%= @plot.id %>/delete" class="btn btn-warning">Delete Plot</a>
        <% end %>
        <a href="/plot/<%= @plot.id %>/edit" class="btn btn-primary">Edit Plot</a>
    </div>
    </div>
</div>
<% end %>