<h1>Online Help</h1>

<p>This page shows the in-game help files.</p>


<% @topics.each do |toc, topics| %>

<h2><%= toc %></h2>
<ul>
<% topics.sort_by { |name, data| [ data['order'] || 99, name ] }.each do |name, data| %>
<li>
    
<a href="/help/<%= data['plugin'] %>/<%= data['topic'] %>">
    <%= name.titleize %></a> - <%= data['summary'] %>
</li>
<% end %>
</ul>

<% end %>

