<h1>Mail - <%= @tag %></h1>

[ <a href="/mail">Inbox</a> ]
<% @tags.each do |t| %>
[ <a href="/mail?tag=<%= t %>"><%= t %></a> ]
<% end %>
<table class="table table-striped">

<thead>
    <tr>
        <th>Subject</th>
        <% if @tag == AresMUSH::Mail.sent_tag %>
            <th>To</th>
        <% else %>
            <th>From</th>
        <% end %>
        <th>Sent</th>
    </tr>
</thead>
        
<% @mail.each do |m| %>

<tr>
    <td>
        <% if !m.read %>
            <i class="fa fa-flag" aria-hidden="true"></i>
        <% end %>
        
        <a href="/mail/<%= m.id %>"><%= m.subject %></a>
    </td>
    
    <td>
        <% if @tag == AresMUSH::Mail.sent_tag %>
            <%= m.to_list %>
        <% else %>
            <%= m.author_name %>
        <% end %>
    </td>
    <td>
        <%= m.created_date_str(@user) %>
    </td>
</td>

<% end %>

</table>



<div class="row">
    <div class="col col-xs-12">
        <div class="pull-right">
 
      <% if is_approved? %>

          <a href="/mail/compose" class="btn btn-primary">Send Mail</a>

      <% end %>
  </div>
  </div>
</div>
