<h1><%= @mail.subject %></h1>

<p><a href="/mail"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to Mail</a></p>

<table>
    <tr>
        <td>
            <b>From:</b> 
        </td>
        <td>
            <%= @mail.author_name %>
        </td>
    </tr>

    <tr>
        <td>
            <b>To:</b>
        </td>
        <td>
             <%= @mail.to_list %>
        </td>
    </tr>
    

    <tr>
        <td>
            <b>Tags:</b>
        </td>
        <td>
             <%= @mail.tags.join(", ") %>
        </td>
    </tr>
    

    <tr>
        <td>
            <b>Subject:</b>
        </td>
        <td>
             <%= @mail.subject %>
        </td>
    </tr>
</table>
<hr/>
    
<div class="ansi">
    <%= format_output_for_html @mail.body %>
</div>

<% if @mail.author %>
<h3>Reply</h3>
<p><b>To:</b> <%= @mail.author_name %></p>
<p><b>Subject:</b> Re: <%= @mail.subject %></p>
    <form method="POST" action="/mail/reply">
        <textarea name="message" cols=100></textarea>
        <input type="hidden" name="mail_id" value=<%= @mail.id %>>
        <p><input type="submit"></p>
        
    </form>
<% end %>