<h1><%= @event.title %></h1>

<p><a href="/events"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to Events</a></p>

<table>
    <tr>
        <td>
            <b>Organizer:</b> 
        </td>
        <td>
            <%= @event.organizer_name %>
        </td>
    </tr>

    <tr>
        <td>
            <b>Starts:</b>
        </td>
        <td>
             <%= @event.start_time_local(@user) %> (<%= @event.start_time_standard %>)
        </td>
    </tr>
    
</table>

<br/>
    
<div class="ansi">
    <%= format_markdown_for_html @event.description %>
</div>


<div class="row">
    <div class="col col-xs-12">
        <div class="pull-right">
  <% if can_manage_event?(@event) %>

      <a href="/event/<%= @event.id %>/delete" class="btn btn-warning">Delete</a>
      <a href="/event/<%= @event.id %>/edit" class="btn btn-primary">Edit</a>
  <% end %>
      
  </div>
  </div>
</div>