<div class="row">
<div class="col-sm-4">

<%= erb :"image", :locals => { source: '/files/colony_' + vars['name'].downcase + '.png', style: "width: 100%", align: "center" } %>

</div>

<div class="col-sm-8">

<div class="panel panel-primary">

<div class="panel-heading">
<div class="panel-title panel-title-text">

<%=  vars['name'] %>

</div>
</div>

<div class="panel-body">

<p><b>Capital:</b>  <%= vars['capital'] %></p>

<p><b>Cities:</b> <%= vars['cities'] %></p>

<p><b>Politics:</b>  <%= vars['politics'] %></p>

<p><b>RL Inspiration:</b>  <%= vars['rl'] %></p>


</div>
</div>

</div>

</div>


<div class="colony-shortcuts"]]
[[[theme:Aerilon]]] | [[[theme:Aquaria]]] | [[[theme:Canceron]]] | [[[theme:Caprica]]] | [[[theme:Gemenon]]] | [[[theme:Leonis]]] | [[[theme:Libran]]] | [[[theme:Picon]]] | [[[theme:Sagittaron]]] | [[[theme:Scorpia]]] | [[[theme:Tauron]]] | [[[theme:Virgon]]]
</div>