<h3> <%= vars['name'] %> </h3>

<div class="row">
<div class="col-sm-4">

<%= erb :"image", :locals => { source: '/files/' + vars['image'].downcase, style: "width: 100%", align: "center" } %>


</div>


<div class="col-sm-8">

<div class="panel panel-primary">

<div class="panel-heading">
<div class="panel-title panel-title-text">

<%= vars['name'] %>

</div>
</div>

<div class="panel-body">


<p><b>Weapons:</b> <%= vars['weapons'] %></p>
<p><b>FTL:</b> <%= vars['ftl'] %></p>
<p><b>Crew:</b> <%= vars['crew'] %></p>

<%= vars['notes'] %>

</div>
</div>

</div>

</div>