<h1>Roster</h1>

<p>The roster contains ready-made characters that you can just pick up and play.  Some have been played before, as indicated by a <span class="label label-info">Previously Played</span> tag.  For most characters, you can claim them just by logging onto the game and using the roster command.  Characters marked with <span class="label label-warning">App Required</span> require a little more work so you'll need to talk to the contact person before claiming them.</p>
    
<% @roster.each do |group, chars| %>
    
<h2><%= group %> </h2>

<table>
    <thead>
        <th>Character</th>
        <th>Summary</th>
        <th>Position</th>
        <th>Age</th>
        <th>Contact</th>
        <th>Special Notes</th>
    </thead>
    <tbody>
    <% chars.sort_by { |c| c.name }.each do |c| %>
    
    <tr>
        <td>
            <%= erb :"/char_icon", :locals => { char: c } %>
         </td>
         
         
         <td>
             <b><%= c.military_name %></b>
             <br/>
              <%= c.roster_notes %>
         </td>
         
         <td>
             <%= c.group('Position')%>
         </td>
         
         <td>
             <%= c.age %>
         </td>
         
         <td>
             <%= c.roster_contact %> 
        </td>
        
         <td>             
                 <% if c.roster_played %>
                 <span class="label label-info">Previously Played</span>
                 <% end %>
             
                 <% if c.roster_restricted %>
                 <span class="label label-warning">App Required</span>
                 <% end %> 
            </p>
         </td>

        
    
    </tr>
        
    <% end %>
    </tbody>
</table>
    
<% end %>