<h1>FS3 Gear</h1>

<div class="ansi">
    
<h2>Weapons</h2>

<table class="table table-striped">

<thead>
    <th>Weapon</th>
    <th>Description</th>
</thead>

<tbody>
<% AresMUSH::FS3Combat.weapons.sort.each do |name, data| %>
<tr>
    <td><a href="/fs3/gear/weapon?name=<%= name %>"><%= name %></a></td> 
    <td><%= data['description'] %></td>
</tr>
<% end %>
</tbody>
</table>


<h2>Armor</h2>

<table class="table table-striped">

<thead>
    <th>Armor</th>
    <th>Description</th>
</thead>

<tbody>
<% AresMUSH::FS3Combat.armors.sort.each do |name, data| %>
<tr>
    <td><a href="/fs3/gear/armor?name=<%= name %>"><%= name %></a></td> 
    <td><%= data['description'] %></td>
</tr>
<% end %>
</tbody>
</table>


<h2>Vehicles</h2>

<table class="table table-striped">

<thead>
    <th>Vehicle</th>
    <th>Description</th>
</thead>

<tbody>
<% AresMUSH::FS3Combat.vehicles.sort.each do |name, data| %>
<tr>
    <td><a href="/fs3/gear/vehicle?name=<%= name %>"><%= name %></a></td> 
    <td><%= data['description'] %></td>
</tr>
<% end %>
</tbody>
</table>

</div>
