<h1>Date and Time Formats</h1>

<p>This screen lets you control how dates and times are shown.  For help see <a href="https://aresmush.com/tutorials/config/date/">Configuring the Date and Time Formats</a>.</p>

<form method="POST" action="/admin/config_date/update">


<div class="panel panel-primary">
    <div class="panel-heading">
        Date and Time
    </div>
    
    <div class="panel-body">
        <p>For more info on available time formats, see the <a href="https://apidock.com/ruby/DateTime/strftime">Ruby documentation</a>.  The hints below each format show some common options for American formats (02/01/2017 2:45pm) and European (2017-02-01 14:45).</p>
        
        <div class="form-group row">
    
        <label for="short_date_format" class="col-xs-3 col-form-label">Short Date Format:</label> 
        <input type="text" name="short_date_format" size="100" value="<%= @date['short_date_format'] %>"/>
        <div class="hint">American: %m/%d/%Y  &nbsp; &nbsp; &nbsp; Euro: %d-%m-%Y</div>

        </div>

        <div class="form-group row">
    
        <label for="long_date_format" class="col-xs-3 col-form-label">Long Date Format:</label> 
        <input type="text" name="long_date_format" size="100" value="<%= @date['long_date_format'] %>"/>
        <div class="hint">American: %a %b %d, %Y %l:%M%P  &nbsp; &nbsp; &nbsp; Euro: %d-%m-%Y %k%M</div>

        </div>

        <div class="form-group row">
    
        <label for="time_format" class="col-xs-3 col-form-label">Time Format:</label> 
        <input type="text" name="time_format" size="100" value="<%= @date['time_format'] %>"/>
        <div class="hint">American: %l:%M%P  &nbsp; &nbsp; &nbsp; Euro: %k%M</div>

        </div>

        
        <div class="form-group row">
    
        <label for="date_and_time_entry_format" class="col-xs-3 col-form-label">Date/Time Entry Format:</label> 
        <input type="text" name="date_and_time_entry_format" size="100" value="<%= @date['date_and_time_entry_format'] %>"/>
        <div class="hint">American: %m/%d/%Y %H:%M%p  &nbsp; &nbsp; &nbsp; Euro: %d-%m-%Y %k%M</div>

        </div>
        
        <div class="form-group row">
    
        <label for="date_entry_format_help" class="col-xs-3 col-form-label">Date Entry Format Help:</label> 
        <input type="text" name="date_entry_format_help" size="100" value="<%= @date['date_entry_format_help'] %>"/>
        <div class="hint">American: mm/dd/yyyy  &nbsp; &nbsp; &nbsp; Euro: yyyy-mm-dd</div>

        </div>
        
        <div class="form-group row">
    
        <label for="date_and_time_entry_format_help" class="col-xs-3 col-form-label">Date/Time Entry Format Help:</label> 
        <input type="text" name="date_and_time_entry_format_help" size="100" value="<%= @date['date_and_time_entry_format_help'] %>"/>
        <div class="hint">American: mm/dd/yyyy hh:mm(am/pm)  &nbsp; &nbsp; &nbsp; Euro: yyyy-mm-dd hh:mm</div>

        </div>
        
    </div>
</div>

<p>
<a href="/admin"><button type="button" class="btn btn-default">Cancel</button></a>
<button type="submit" class="btn btn-primary">Save</button>
</p>
</form>