<!DOCTYPE html>
<html>
<head>
    <title><%= game_name %></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


   <!-- 
    <link rel="stylesheet" href="/javascripts/jquery-ui-1.11.4/jquery-ui.min.css">
    <script src="/javascripts/jquery-ui-1.11.4/external/jquery/jquery.js"></script>
    <script src="/javascripts/jquery-ui-1.11.4/jquery-ui.min.js"></script>
    <script src="/javascripts/jquery.bootstrap-growl.min.js"></script>
    -->
       

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://use.fontawesome.com/ee2438614b.js"></script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
  
  <script src="//cdn.jsdelivr.net/alertifyjs/1.10.0/alertify.min.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.10.0/css/alertify.min.css"/>
  <!-- Default theme -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.10.0/css/themes/default.min.css"/>
  <!-- Semantic UI theme -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.10.0/css/themes/semantic.min.css"/>
  <!-- Bootstrap theme -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.10.0/css/themes/bootstrap.min.css"/>

  
  
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="/config.js"></script>
  <script src="/notify.js"></script>
  <script src="/ansi.js"></script>
  <script src="/ansi_up.js"></script>

  <script>
  $( function() {
    $( "#tabs" ).tabs();
  } );
  </script>
  
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/custom_style.css">

</head>

<body>
    <div class="container">

    <div class="header-wrap">

      <div class="title-wrap">
        
        <div class="row">
            <div class="col-md-6">
                <div class="site-title"><a href="/"><%= game_name %></a></div>
                <div class="site-subtitle"><%= game_address %></div>
            </div>
            <div class="col-md-6 text-right user-bar">
            <% if @user %>
            <p>Welcome, <%= @user.name %>.</p>
            <p><a href="/mail">Mail 
                
                <span class="label label-pill label-primary" id="mailBadge"><%= unread_mail %></span>
            
            </a> | <a href="/logout">Logout</a> </p>
            <% else %>
            <p><a href="/login">Login</a> 
                <% if enable_registration %>
                | <a href="/register">Register</a>  
                <% end %>
            </p>
                
            <% end %>
            </div>
        </div>
        
        
      </div>
      
        <nav class="navbar navbar-inverse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/">Home</a></li>

              <% if !is_approved? && !is_admin? %>
              <li><a href="/chargen">Chargen</a></li>
              <% end %>
          
              <li><a href="/play">Play</a></li>
              <li><a href="/bbs">Boards</a></li> 
          
          
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dirnav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Directory <span class="caret">
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/scenes">Scenes</a></li> 
                  <li><a href="/chars">Characters</a></li>
                  <li><a href="/locations">Locations</a></li>
                  <li><a href="/combat">Combats</a></li>
                </ul>
              </li>
          
          
              <li><a href="/help">Help</a></li> 
              <% if is_admin? %>
              <li><a href="/admin">Admin</a></li>
              <% end %>
              <li><a href="<%= game_website %>">Main Site</a></li> 
            </ul>
        </nav>
    </div>
    
        
        <div class="body-wrap">
             
            <div class="row">
          
                <div class="col-md-9 body-container">
              
                        
                        
                

                    <% if flash[:info] %>
                    <div class="alert alert-info">                
                        <%= styled_flash %>      
                    </div>
                    <% end %>

                    
                    <% if flash[:error] %>
                    <div class="alert alert-danger">                
                        <%= styled_flash %>      
                    </div>
                    <% end %>
                  
                    <%= yield %>
              
                </div>
                   
                   <div class="col-md-3">    
                       <div class="sidebar-box">
                           <div class="sidebar-heading">
                               <h2>Play on the Web <i class="fa fa-globe" aria-hidden="true"></i></h2>
                               
                           </div>
            
                           <p>The <a href="/play">web client</a> allows you to play the game from many web browsers.</p>
                       </div>


                       <div class="sidebar-box">
                           <div class="sidebar-heading">
                               <h2>Play with a Client <i class="fa fa-desktop" aria-hidden="true"></i></h2>
                           </div>
                           <p>Connect to the game via your favorite MU client at <b><%= game_address %></b>.  AresMUSH works well with <a href="http://www.potatomushclient.com/">Potato</a>.</p>
            
                       </div>
        
                      
                       
                       <div class="sidebar-box">
                           <div class="sidebar-heading">
                               <h2>Recent Scenes <i class="fa fa-book" aria-hidden="true"></i></h2>
                               
                           </div>
                           <% @recent_scenes.each do |s| %>
                           <p><a href="/scene/<%= s.id %>"><%= s.icdate%> - <%= s.title %></a>  
                               <%= erb :"scenes/scene_tag", :locals => { scene: s } %><br/></p>
                           <% end %>
            
                           <a href="/scenes">All Scenes</a>
                       </div>
                       
                       <div class="sidebar-box">
                           <div class="sidebar-heading">
                               <h2>Upcoming Events <i class="fa fa-calendar" aria-hidden="true"></i></h2>
                               
                           </div>
                           <% @events.each do |e| %>
                           <p><b><%= e.title %></b><br/><%= e.start_datetime_standard %></p>
                           <% end %>
            
                           <a href="<%= @calendar %>">Full Calendar</a>
                       </div>
                       
                       
                    </div>
                                      
            </div>
        </div>
    
      <div class="row">
          <div class="col-md-12 footer">
              Running <a href="http://www.aresmush.com">AresMUSH</a> version <%= AresMUSH.version %>.
              
              <input type="hidden" id="charId" name="charId" value="<%= @user ? @user.id : ' ' %>">
              <input type="hidden" id="charToken" name="charToken" value="<%= @user ? @user.login_api_token : ' ' %>">
              
           </div>
      </div>
          
    </div>
    
</body>
</html>

