<h1><%= @board.name %></h1>
<p><a href="/bbs"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to Boards</a></p>

<table class="table table-striped">
<tbody>
      <tr>
      <th>Title</th>
      <th>Posted By</th>
    </tr>
    
<% @board.bbs_posts.each do |p| %>
    <tr>
    <td>
        <% if @user && p.is_unread?(@user) %>
            <i class="fa fa-flag" aria-hidden="true"></i>
        <% end %>
         <a href="/bbs/<%= @board.id %>/<%= p.id %>"><%= p.subject %></a> 
     </td>
     <td><%= p.author_name %> @ <%= p.created_date_str(@user) %>
     </td>
     </tr>
<% end %>
</tbody>
</table>




<div class="row">
    <div class="col col-xs-12">
        <div class="pull-right">
 
          <% if can_write_bbs?(@board) %>

          <a href="/bbs/<%= @board.id %>/post" class="btn btn-primary">Add Post</a>

      <% end %>
  </div>
  </div>
</div>
