<h1>Events</h1>

<table class="table table-striped">

<thead>
    <tr>
        <th>Title</th>
        <th>Organizer</th>
        <th>Date/Time</th>
    </tr>
</thead>
        
<% @events.each do |e| %>

<tr>
    <td>
        
        <a href="/event/<%= e.id %>"><%= e.title %></a>
    </td>
    
    <td>
        <%= e.organizer_name %>
    </td>
    <td>
        <%= e.start_time_local(@user) %> (<%= e.start_time_standard %>)
    </td>
</td>

<% end %>

</table>

<div class="alert alert-info">If you're using an iCalendar-compatible calendar app like Outlook or Apple iCal, you can add the game's iCal feed to your app and it will automatically load events into your calendar: <a href="/events/ical"><%= AresMUSH::Game.web_portal_url %>/events/ical</a>.</div>


<div class="row">
    <div class="col col-xs-12">
        <div class="pull-right">
 
  <% if is_approved? %>
      <a href="/event/create" class="btn btn-primary">Add New</a>
  <% end %>

  </div>
  </div>
</div>