<h1><%= @board.name %></h1>
<p><a href="/bbs"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to Boards</a></p>

<table class="table table-striped">
<tbody>
      <tr>
      <th>Title</th>
      <th>Posted By</th>
    </tr>
    
<% @board.bbs_posts.each do |p| %>
    <tr>
    <td>
        <% if @user && p.is_unread?(@user) %>
            <i class="fa fa-flag" aria-hidden="true"></i>
        <% end %>
         <a href="/bbs/<%= @board.id %>/<%= p.id %>"><%= p.subject %></a> 
     </td>
     <td><%= p.author_name %> @ <%= p.created_date_str(@user) %>
     </td>
     </tr>
<% end %>
</tbody>
</table>

<% if can_write_bbs?(@board) %>
<div class="inline-response">

<h3>Add Post</h3>

    <form method="POST" action="/bbs/post">
        <p>Subject:</p>
        <p><input type="text" name="subject"></p>
        <p>Message:</p>
        <textarea name="message">tarea>
        <input type="hidden" name="board_id" value=<%= @board.id %>>
        <p><input type="submit"></p>
        
    </form>
</div>
<% end %>