<h1><%= @room.name %></h1>

<p><b>Located In:</b> <%= area %></p>

<%= description %>

<% if @room.details.any? %>
<hr/>
  
<% @room.details.each do |name, desc| %>
  <p><b><%= name %></b></p> 
  <%= format_desc(desc) %>
<% end %>
<% end %>

<hr/>

<p><b>Exits:</b></p>

<ul>
  <% @room.exits.each do |ex| %>
  <li><%= ex.name %> - <%= ex.destination_name %></li>
  <% end %>
</ul>

<hr/>

<p><b>Owners:</b> <%= owners %></p>

